@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px;
  font-weight: 900;
}

html {
  font-family: "Archivo", sans-serif;
  /* background-color: #242424; */
  background: #232323;
  background-image: radial-gradient(#404040 1px, transparent 0);
  background-size: 20px 20px;
  /* background-position: -19px -19px; */
  color: white;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
}
